****************************************************************************************************************************
*                                                                                                                          *
* DRILL TAPE SUMMARY REPORT                                                                                                *
*                                                                                                                          *
* D:\SHECHEM\DOCUMENTS\ONEDRIVE\DOCUMENTS\SEMESTER 5\ELECTRONIC DESIGN REALIZATION\ORCAD\PCB_FINAL\SCHEMATIC 2_ADRIAN.MAX  *
* Fri May 31 14:41:14 2019                                                                                                 *
*                                                                                                                          *
****************************************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       27       4        200      100                                                                                 
T2       28       37       200      100                                                                                 
T3       31       8        200      100                                                                                 
T4       34       48       200      100                                                                                 
T5       37       22       200      100                                                                                 
T6       38       2        200      100                                                                                 
T7       42       22       200      100                                                                                 
T8       54       3        200      100                                                                                 
T9       78       2        200      100                                                                                 
T10      110      3        200      100                                                                                 
